<!DOCTYPE html>
<html lang="ja">
<head>
<script type="text/javascript">
window.onunload = function(){} // キャッシュオフ
</script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DeepAgent <%= controller()->name() + ": " + controller()->activeAction() %></title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
<%== renderPartial(controller()->name().toLower() + "_" + controller()->activeAction().toLower() + "_head") %>
</head>
<body>
<div id="wrapper">
<%== yield() %>
</div>
</body>
</html>