<%#include "containers/datasetmakerresultcontainer.h" %>
<% tfetch(DatasetMakerResultContainer, container) %>

<%
    const QFileInfo file(container.path);
    if (file.exists() && file.isFile()) {
        echo("<p>" + linkTo("ダウンロード", urla("download", file.fileName())) + "</p>");
    }
%>

<p><%== linkTo("<< 戻る", urla("index")) %></p>
