<!DOCTYPE html>
<%#include "containers/uploadresultcontainer.h" %>
<% tfetch(UploadResultContainer, uploadResult) %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<% if (uploadResult.completed) { %>
<p class="message">アップロード完了</p>
<% } %>

<% if (! uploadResult.errors.isEmpty()) { %>
    <% const QMap<QString, QString> errorDescriptions({
        {"DUPLICATED", "以下のファイルはすでにサーバー上に存在するためスキップしました"}, 
        {"IMAGECROP", "以下のファイルは画像処理に失敗しました"},
        {"INVALIDCONTENT", "以下のファイルは不明なコンテンツのためスキップしました"},
        {"UNKNOWN", "以下のファイルは何らかのエラーが起きたためアップロードできませんでした"}
    }); %>
    <% for (const auto& k : uploadResult.errors.keys()) {
        const QString description = errorDescriptions[k];
        echo("<p class=\"message\" style=\"color: red;\">" + description + "</p>");
        
        const QStringList files = uploadResult.errors[k];
        for (const QString& file : files) {
            echo("<span style=\"font-size: small;\">" + file + "</span><br />");
        }
    } %>
<% } %>

<p><%== linkTo("<< 戻る", uploadResult.backPageURL.isEmpty() ? urla("index") : uploadResult.backPageURL) %></p>

</body>
</html>

