#wrapper {
    margin: 0 auto;
    width: 980px;
    min-width: 980px;
}
.thumb {
    display: inline-block;
    margin: 14px 3px 0;
    width: 130px;
}
img.scale {
    -moz-transition: -moz-transform 0.05s linear;
    -webkit-transition: -webkit-transform 0.05s linear;
    -o-transition: -o-transform 0.05s linear;
    -ms-transition: -ms-transform 0.05s linear;
    transition: transform 0.05s linear;
}
img.scale20:hover {
    -webkit-transform: scale(2.0);
    -moz-transform: scale(2.0);
    -o-transform: scale(2.0);
    -ms-transform: scale(2.0);
    transform: scale(2.0);
}
img.scale30:hover {
    -webkit-transform: scale(3.0);
    -moz-transform: scale(3.0);
    -o-transform: scale(3.0);
    -ms-transform: scale(3.0);
    transform: scale(3.0);
}
td.number {
    text-align: center;
}
#drop_zone {
    width: 50%;
    border: 2px dashed #bbb;
    /*  -moz-border-radius: 5px; */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 5px;
    text-align: center;
    font: bold 1.0em/1.8em 'Vollkorn';
    color: #999;
    min-height: 90px;
}
div.pagination {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}
div.pagination a {
    text-decoration: none;
}
div.pagination span {
    display: inline-block;
    width: 24px;
}
div.pagination .current-page {
    font-size: 1.1em;
    font-weight: bold;
}
.table {
     display: table;
     table-layout: fixed;
     width: 100%;
}
.cell {
    display: table-cell;
}
.ib {
    display: inline-block;
}
.right {
    margin-left: auto;
}
.text-right {
    text-align: right;
}
